 
<mat-card style="width: 1096px;
height: 62px;
margin: 0 0.5px 30px 3px;
padding: 11px 19px 11px 18px;
border-radius: 8px;
box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.13);
background-color: #ffffff;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with support icon">
      <img src="./assets/support.png">
      <span>Support</span>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with issue icon">
       <img src="./assets/issue.png">
        <span>Raise-Issue</span>
        </button>
    
    
       
      
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with  icon"style="
        margin-left: 52%;
    ">
            <img src="./assets/bell.png">
          </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with  icon">
      <img src="./assets/search.png">
    </button>
    <button mat-icon-button class="example-icon1" aria-label="Example icon-button with  icon">
        <mat-icon>person</mat-icon>
      </button>
    

  </mat-card>
  <img src="./assets/home.png" style="
  /* margin-top: -38px; */
  position: absolute;
  margin-top: 8px;
  margin-left: 269px;
">
  <h1  style="
  margin-left: 35px;
  margin-top: 3px;
">KYC Verification</h1>


  <div class="vl" style="width: 0;
  height: 30.5px;
  border: solid 1px #979797;
  margin-top: -4%;
    margin-left: 21%;"></div>
    <h4 style="margin-top: -2.0%;
    
    margin-left: 25%;"> >> KYC</h4>
    

    
  <app-button></app-button>
  <router-outlet></router-outlet>
  <mat-divider></mat-divider>

  <mat-form-field appearance="outline" style="     margin-left: 17%;
  width: 59%;
  margin-top: 6%;">
    <mat-label>search</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon >search</mat-icon>
    
  </mat-form-field>

  <mat-card style="  width: 371px;
  height: 712px;
  margin: 70px 30px 39px 36px;
  padding: 54.5px 24px 143.3px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.13);
  background-color: #ffffff;">

  </mat-card>

  <mat-card style="margin-left: 39%;
  width: 690px;
  height: 250px;
  /* margin: -484.5px -25px 13px 33px; */
  padding: 0 21.8px 0 28.2px;
  margin-top: -75%;">

  </mat-card >
      
  

   
  

  