<mat-nav-list>
<div class="logo pay-4">
    <img src ="./assets/GJ_salesLogosmall.png" alt="company logo">
    </div>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Dashboard</a>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
            <img src="./assets/identification.png">Customer Kyc</a>
            <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
                <img src="./assets/Group 1068.png">Customer Details</a>
                <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
                    <img src="./assets/Group 1069.png">Sales</a>
                    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
                        <img src="./assets/Icon material-update.png">Update Request</a>
</mat-nav-list>
